body{
  text-align: center;
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20191113/pngtree-blue-movie-film-texture-background-image_321897.jpg");
  background-color: rgb(198, 141, 141);
  
  background-repeat: no-repeat;

background-size: cover;
color: white;
margin: 50px;
}
hr{
  color:white;
  border: 2px solid white;
  border-radius: 5px;
 
}

div{
    justify-content: space-around; 
    padding: 10px;
 
    font-size: 20px;
    border:4px solid white;
    border-radius:5px;
    color:white;
    text-align: center;
    font-size: 15px;
    align-items: center;
    

  }




